<!DOCTYPE html>
<html>
  <head>
    <title>PointBox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/login">Log In</a>
      <a href="/rewards">Rewards</a>
    </div>
	
    <%= yield %>
  </body>
</html>
